<h1><%= @restaurant.name %></h1>

<nav class="edit">
  <% if current_user == @restaurant.owner %>
    <%= link_to 'Edit restaurant information', edit_restaurant_path(@restaurant) %>
  <% end %>
</nav>

<p>
  <strong>Owner:</strong>
  <%= @restaurant.owner.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @restaurant.capacity %>
</p>

<%= render 'reservation_form' %>